#chart {
  margin-left: -30%;
  height: 506px;
}
text {
  font: 12px sans-serif;
}
.dot {
  stroke: #000;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.label {
  fill: #777;
}
.year.label {
  font: 300 136px "Helvetica Neue";
  fill: #ddd;
}
.year.label.active {
  fill: #aaa;
}
.overlay {
	fill: none;
	pointer-events: all;
	cursor: ew-resize;
}
.tooltip {
	margin-top: 2%;
	margin-left: -25%;
}
.content {
/* 	min-height: 600px; */
	float:both;
}
svg {
	min-width: 50%;
}