.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 10px;
}
.timeline-label {
	font-family: sans-serif;
	font-size: 12px;
}
#out .axis {
	transform: translate(0px,30px);
	-ms-transform: translate(0px,30px); // IE 9
	-webkit-transform: translate(0px,30px); // Safari and Chrome
	-o-transform: translate(0px,30px); // Opera
	-moz-transform: translate(0px,30px); // Firefox
}
.colored {
	height:20px; width:20px; float:left;
}
#map-canvas_timeline {
	margin: 2em 0 0 2em;
	width : 500px; 	/* map width */
	height: 500px;	/* map height */
}
      